:root {
    --column-count: 4;
}


@media screen and (max-width: 37.5rem) {
    :root {
        --column-count: 1;
    }
}

@media screen and (min-width: 37.5rem) {
    :root {
        --column-count: 2;
    }
}

@media screen and (min-width: 60rem) {
    :root {
        --column-count: 3;
    }
}

.grid{
    column-count: var(--column-count);
    column-gap: 5px;
    max-width: 1000px;
    min-height: 1800px;
    margin: 0 auto;
}