:root {
    --column-count: 4;
}


@media screen and (max-width: 37.5rem) {
    :root {
        --column-count: 1;
    }
}

@media screen and (min-width: 37.5rem) {
    :root {
        --column-count: 2;
    }
}

@media screen and (min-width: 60rem) {
    :root {
        --column-count: 3;
    }
}

.grid{
    /* display: grid; */
    column-count: var(--column-count);
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    /* ancho minimo de 300px y max 1 fraction */
    grid-template-rows: masonry;
    max-width: 1000px;
    min-height: 1800px;
    margin: 0 auto;
    gap: 10px;
}