:root{
  --columns: 2;
}

.App{
  background-color: #282c34;
  min-height: 100vh;
  height: 100%;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content{
  min-height: 100vh;
  height: 100%;
  background-color: #282c34;
}

form{
  padding-top: 2rem;
  width: 50%;
  margin: 0 auto;
  display: flex;
}